/*==================================RESPONSIVE LAYOUTS===============================================*/
@media only screen and (min-width: 768px){
	.dropdown-menu{
		display: none !important;
		-webkit-transition: none !important;
		   -moz-transition: none !important;
		    -ms-transition: none !important;
		     -o-transition: none !important;
		        transition: none !important;
		opacity: 1 !important;
		visibility: visible !important;
	}
	.menu_item:hover .dropdown-menu{
		display: block !important;
	}
}
@media only screen and (max-width: 1400px){
	.slideshow_banner{
		top: 40%;
	}
	.rsNavItem.rsThumb{
		width: 100px;
		height: 75px;
	} 
	.logo a{
		width: 150px;
		height: 70px;
		background-size: cover;
	}
	.header_right{padding-top: 25px;}
	body {
		padding-top: 90px;
	}
	.award_item>.f_left{
		float: none;
	}
	.award_item>.f_left img{
		width: 150px;
	}
	.award_description{
		padding: 20px;
		font-size: 14px;
		line-height: 1.23;
	}
	#client_slideshow{
		min-height: 550px;
	}

}
@media only screen and (max-width: 1302px){
	.biscuit_indent{
		margin: 0 -50px 8px;
	}
	.biscuit_figure{
		width: 20%;
	}
}
@media only screen and (max-width: 1270px){
	.biscuit_indent {
        margin: 0 0 8px;
	}
	.biscuit_figure{
		width: 25%;
		margin: 0 40px 26px 40px;
	}
}
@media only screen and (max-width: 1230px){
	#pasta_slider_mini{
		overflow: hidden;
	}
	.tooltip_box{
		left: 0;
	}
}
@media only screen and (max-width: 1199px){
	.biscuit_figure {
        width: 25%;
        margin: 0 25px 26px 25px;
	}
	.biscuit_figcaption{
		font-size: 16px;
	}
}
@media only screen and (max-width: 1060px){
	.pasta_packed_img_it:nth-child(2) {
        margin: 0 70px;
	}
}
@media only screen and (max-width: 1024px){
	.logo a{
		width: 125px;
		height: 60px;
		background-size: contain;
	}
	.header_right{
		padding: 15px 0;
	}

	.award_description{
		padding: 10px 30px;
		font-size: 14px;
	}
		.award_description .title1{
			font-size: 24px;
			margin-bottom: 20px;
		}

	.award_item >.f_left{
		float: none;
		display: none;
	}
	.rsContent_inner{
		padding: 10px 0;
	}

	body{
		padding-top: 60px;
	}
	#production .vision_item figcaption{
		padding: 0;
	}
	
}
@media only screen and (max-width: 995px) {
	/*body{min-width:768px;}*/
	body{min-width:700px;}

}
@media only screen and (max-width: 991px) {
	#our-production .vision_item_icon img{
		height: 221px;
	} 
	.flour_packed_box{
		padding: 15px 10px;
	}
	.flour_packed_img{
		float: none;
		margin:0 auto 10px;
	}
	.flour_packed_info {
        overflow: initial;
	}
	.flour_packed_info .title5{
		text-align: center;
	}
	.pasta_packed_img_box:before,
	.pasta_packed_img_box:after{
		display: none;
	}
	.pasta_slider_big .flex-direction-nav .flex-prev {
        left: 50px;
	}
	.pasta_slider_big .flex-direction-nav .flex-next {
        right: 50px;
	}
	.biscuit_figure {
        width: 27%;
        margin: 0 15px 26px 15px;
	}
	.pasta_slider_mini .product_item,
	.pasta_slider_mini .slides li{
		width: 215px !important;
	}
	.product_item_title{
		font-size: 16px;
	}
}
@media only screen and (max-width: 890px) {
	.arcticmodal-container_i2{
		padding: 30px;
	}
	.shipping_rules_popup{
		width: 600px;
	}
	#gallery_popup .owl-prev,
	#gallery_popup .owl-next,
	#gallery_popup .owl-prev:hover,
	#gallery_popup .owl-next:hover{
		background-color: #A37B3D;
		-webkit-border-radius: 50%;
		        border-radius: 50%;
	}
	#gallery_popup .owl-prev{
		left: 0;
	}
	#gallery_popup .owl-next{
		right: 0;
	}
	#sertificate_popup{
		width: 500px;
		height: 705px;
	}
}
@media only screen and (max-width: 815px) {
	.biscuit_figure{
		width: 30%;
	}
}
@media only screen and (max-width: 767px) {
	body{min-width:420px;padding: 0px 0px 0;}
	
	header{
		position: static;
	}
	#content{padding-top: 0 !important;}

	#resp_nav_btn{
		width: 40px;
		height: 40px;
		line-height: 40px;
		display: block;
		position: absolute;
		right: 100%;
		top: 50%;
		margin: -20px 0 0;
		background-color: #684f40;
		cursor: pointer;
		color: #fff;
	}
		#resp_nav_btn:before{
			font-family: 'FontAwesome';
			content: "\f0c9";
			font-size: 20px;
		}

	nav{
		position: fixed;
		right: -250px;
		top: 0;
		height: 100%;
		width: 250px;
		z-index: 999;
		padding-top: 10% !important;
		text-align: center;
		border-left: 3px solid #684f40;
		-webkit-transition: all 500ms ease;
		-moz-transition: all 500ms ease;
		-ms-transition: all 500ms ease;
		-o-transition: all 500ms ease;
		transition: all 500ms ease;
		background: url(../images/home_pattern.jpg) 50% 50% repeat #f5f5f5;
	}
	.show_menu nav{
		right: 0;
	}
	.menu,
	.menu_item,
	.header_left{
		float: none;
	}

	.menu .menu_item{
		display: block;
		padding: 0 20px;
		margin: 0 0 20px;
	}
	.dropdown-menu{
		width: 100%;
		-webkit-box-sizing: border-box;
		   -moz-box-sizing: border-box;
		        box-sizing: border-box;
		position: static;
		display: none;
		/*height: 0;
		padding: 0 20px;
		margin-top: 0;*/
	}
	.menu_item.active .dropdown-menu{
		/*height: auto;*/
		visibility: visible;
		opacity: 1;
		/*margin: 15px 0 0;*/
		/*-webkit-transition: all ease 0.5s;
		   -moz-transition: all ease 0.5s;
		    -ms-transition: all ease 0.5s;
		     -o-transition: all ease 0.5s;
		        transition: all ease 0.5s;*/
	}
		.head_bottom_menu > .menu > .menu_item > .dropdown-menu {
	        left: 0; 
	        margin: 15px 0 15px 0;
	        /*height: 0;*/
	        /*display: none;*/
		}
		.head_bottom_menu > .menu > .menu_item.active > .dropdown-menu {
	        /*height: auto;*/
	        /*display: block;*/
		}
		.head_bottom_menu > .menu > .menu_item > .menu_link{
			padding: 8px 5px !important;
			margin: 0;
			font-size: 14px;
			text-transform: uppercase !important;
			font-family: Arial, Helvetica, sans-serif;
		}
		.head_bottom_menu > .menu > .menu_item{
			margin: 0 !important;
		}
		.head_bottom_menu > .menu > .menu_item > .menu_link:hover{
	        border-bottom: 3px solid #fdb822 !important;
		}
		.dropdown-menu:before,
		#pasta_slider_mini{
			display: none;
		}

		.dropdown-menu .menu_link{
			font-size: 14px;
		}

	.logo a{
		margin: 0 auto;
	}

	.menu_link,
	body.home .menu_link{
		text-align: center;
		padding: 8px 5px !important;
		border-color: #684f40;
		text-transform: none;
	}
	.menu_item{
		margin: 0;
	}
	#client_slideshow{
		min-height: 450px;
	}
	.title1,
	.title4{
		font-size: 20px;
		line-height: 24px;
	}
		.title1 span{
			letter-spacing: 5px;
		}
	.author_img{
		width: 150px;
		height: 150px;
		margin: 0 auto 20px;
	}
		.author_img img{
			width: 100%;
		}

	#content .page{
		padding: 30px 0;
	}

	.rsNavItem.rsThumb img{
		width: 100%;
		height: auto;
	}
	.rsNav.rsThumbs.rsThumbsHor{
		display: none;
	}
	.header_bottom .col-lg-12{margin-bottom: 0;}
	.flour_packed_box,
	.flour_weight .row .col-lg-6:nth-child(1) .flour_packed_box,
	.flour_packed .row .col-lg-6:nth-child(1) .flour_packed_box{
		max-width: 100%;
		margin: 0;
	}
	.flour_weight {
        padding-top: 20px;
	}
	#flour {
        padding: 35px 0;
	}
	.pasta{
		padding-top: 35px;
	}
	.pasta_packed{
		margin-bottom: 0;
	}
	.type_pasta {
        padding-top: 25px;
	}
	.pasta_slider_big .flex-direction-nav .flex-prev {
        left: 30px;
	}
	.pasta_slider_big .flex-direction-nav .flex-next {
        right: 30px;
	}
	.flour_packed_img{
		float: left;
		margin: 0 15px 0 0;
	}
	.flour_packed_info{
		overflow: hidden;
	}
}
@media only screen and (max-width: 730px) {
	.shipping_rules_popup,
	.scheme_work_popup{
		width: 450px;
	}
	#gallery_popup{
		width: 450px;
		height: 339px;
	}
	#sertificate_popup{
		width: 450px;
		height: 630px;
	}
	#sertificate_popup .owl-prev,
	#sertificate_popup .owl-next{
		background-color: #A37B3D;
        -webkit-border-radius: 50%;
        border-radius: 50%;
	}
	#sertificate_popup .owl-prev{
		left: -20px;
	}
	#sertificate_popup .owl-next{
		right: -20px;
	}
	.award_description .title1{
		font-size: 20px;
	}
}
@media only screen and (max-width: 690px){
	#our-production .col-xs-4{
		float: none;
		width: auto;
	}
}
@media only screen and (max-width: 660px){
	#sertificate_popup{
		width: 320px;
		height: 450px;
	}
}
@media only screen and (max-width: 632px){
	.pasta_packed_img_it:nth-child(2) {
        margin: 0 20px;
	}
	.pasta_packed_img_it{
		width: 25%;
	}
	.pasta_pic_box{
		/*height: 200px;*/
	}
	.biscuit_figure{
		width: 100%;
		margin: 0 0 20px 0;
	}
	.tooltip_box{
		left: 15%;
	}
	.biscuit_indent,
	.biscuit_box .col-xs-12,
	.biscuit_box .col-sm-12,
	.biscuit_box .col-md-12,
	.biscuit_box .col-lg-12 {
		margin-bottom: 0;
	}
	.biscuit_protracted ,
	.biscuit_cracker,
	.biscuit_sugar{
        padding-top: 10px;
	}
}
@media only screen and (max-width: 600px) {
 	.award_item >.f_left{display: block;}

	.award_description{
		text-align: center;
	}
	.award_description p{display: none;}

	#client_slideshow{
		min-height: 320px;
	}
	.header_bottom .f_left,
	 .header_bottom .f_right,
	 .preview_post_item{
		float: none;

	 }

	 .header_bottom .f_left{
	 	margin-bottom: 15px;
	 }

	 .header_bottom{
	 	text-align: center;
	 	padding: 15px 30px;
	 }
}
@media only screen and (max-width: 585px) {
	.shipping_rules_popup,
	.submit_ticket_popup,
	.scheme_work_popup{
		width: 330px;
		padding: 15px;
	}
	#gallery_popup{
		width: 330px;
		height: 249px;
	}
	.form_ipt,
	.form_lbl{
		float: none;
	}
	.form_lbl br{display: none;}
	.form_ipt,
	.form_txt{
		width: 100%;
	}
	#sertificate_popup .owl-next {
        right: -15px;
	}
	#sertificate_popup .owl-prev {
        left: -15px;
	}
}
@media only screen and (max-width: 479px) {
	body{min-width:320px;}
	.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12{
	 	width: auto;
	 	float: none;
	}
	.shipping_rules_popup,
	.submit_ticket_popup,
	.scheme_work_popup{
		width: 270px;
	}
	#gallery_popup{
		width: 270px;
		height: 204px;
	}
	#gallery_popup .owl-prev, 
	#gallery_popup .owl-next,
	#gallery_popup .owl-prev:hover, 
	#gallery_popup .owl-next:hover{
		width: 40px;
		height: 40px;
		-webkit-background-size: cover;
		     -o-background-size: cover;
		        background-size: cover;
		margin-top: -20px;
	}

	footer,
	footer .al_right{
		text-align: center;
	}
	.flour_packed_img{
		float: none;
		margin: 0 auto 10px;
	}
	.pasta_packed_box_item{
		padding: 15px 10px;
	}
	.pasta_packed .col-xs-12{
		margin-bottom: 0;
		padding-top: 20px;
	}
	.pasta_pic_box {
        /*height: 175px;*/
	}
	.type_pasta .title4{
		margin-bottom: 20px;
	}
	.type_pasta .col-xs-12,
	.flour_packed .row:last-child .col-xs-12:last-child{
		margin-bottom: 0;
	}
	.biscuit_box {
        padding-top: 35px;
	}
	.flour_packed {
        padding-top: 25px;
	}
	.pasta_packed{
		padding-top: 0;
	}
	.flour_weight .title4{
		margin-bottom: 20px;
	}
	.pasta_slider_big .flex-direction-nav .flex-prev {
        left: 10px;
	}
	.pasta_slider_big .flex-direction-nav .flex-next {
        right: 10px;
	}
	.pasta_packed_box_item,
	.pasta_packed_box_item p:last-child{
		font-size: 15px;
		line-height: normal;
	}
}
@media only screen and (max-width: 435px) {
	#sertificate_popup {
        width: 300px;
        height: 430px;
	}
}
@media only screen and (max-width: 400px) {
	.arcticmodal-close{
		right: 5px;
		top: 5px;
		width: 30px;
		height: 30px;
		z-index: 9;
	}
	#gallery_popup .arcticmodal-close{
		right: 0;
		width: 20px;
		height: 20px;
		top: -25px;
	}
	#gallery_popup .owl-prev:before,
	#gallery_popup .owl-next:before{
		/*line-height: 41px;*/
	}
	.arcticmodal-container_i2 {
        padding: 0;
	}
	.tooltip_box{
		left: 0;
		top: 10px;
	}
	.tooltip_box .close{
		height: 24px;
	}
}
@media only screen and (max-width: 435px) {
	#sertificate_popup {
        width: 270px;
        height: 400px;
	}
}