@import "../css/reset.css";
@import "../css/bootstrap.css";
@import "../css/superfish.css";
@import "../royalslider/royalslider.css";
@import "../royalslider/skins_default/rs-default.css";
@import "../font-awesome-4.5.0/css/font-awesome.css";
@import "../css/flexslider.css";
@import url(http://fonts.googleapis.com/css?family=Comfortaa:400,300,700&subset=latin,cyrillic);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400italic,400,600,700&subset=latin,cyrillic);
@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic&subset=latin,cyrillic);
article,aside,audio,canvas,command,datalist,details,embed,figcaption,figure,footer,header,hgroup,keygen,meter,nav,output,progress,section,source,video{display:block}mark,rp,rt,ruby,summary,time{display:inline}
/* Global properties ======================================================== */
html {width:100%}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  line-height: 19px;
  color: #684f40;
  min-width: 960px;
  background-color: #f5f5f5;
  -webkit-text-size-adjust: none;
  padding: 110px 0px 0;
}
input,
textarea,
button{
  -webkit-appearance: none;
  /*-webkit-border-radius:0; 
  border-radius:0;*/
  outline:none;
}
button{
    outline:none;
    cursor: pointer;
}
img{
    max-width: 100%;
    height: auto;
}
input,
textarea{
    font-family: 'Open Sans', sans-serif !important;
}
.detect_scroll_width{
   position:absolute;
   top:-9999px; 
   width:50px;
   height:50px;
   overflow:scroll;
}
/*----------------------> Links And buttons <------------------*/
a {
  color: #684f40;
  outline:none;
  text-decoration:none;
  cursor:pointer;
  display: inline-block;
}
a:hover{
  color:#;
  text-decoration:none;
}

.btn{
  display:inline-block;
  padding:0 0 0;
  margin: 0 0 0;
  font-size: px;
  line-height: px;
  color:#;
 }
.btn:hover{
  background:;
  color:#000;
}

/*----------------------> Basic Classes <------------------*/
.reg {text-transform:uppercase}
.f_left {float:left}
.f_right {float:right}
.al_left{text-align: left;}
.al_right {text-align:right}
.al_center {text-align:center}

.it{font-style:italic}
.let{letter-spacing:-1px}

.full_w{
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.val_mid{vertical-align: middle;}
/*----------------------> Indents Zero <------------------*/

.m_t_zero{ margin-top:0 !important;}
.m_b_zero{ margin-bottom:0 !important;}
.m_r_zero{ margin-right:0 !important;}
.m_l_zero{ margin-left:0 !important;}
.p_t_zero{ padding-top:0 !important;}
.p_b_zero{ padding-bottom:0 !important;}
.p_r_zero{ padding-right:0 !important;}
.p_l_zero{ padding-left:0 !important;}

/*----------------------> Positions <------------------*/
.p_abs{position: absolute;}
.p_rel{position: relative;}
.p_fix{position: fixed;}
.clear {clear:both;width:100%;line-height:0;font-size:0;}
.clearfix:after {
  content: "";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.wrapper {overflow:hidden}
.f_elem>*:first-child{margin-top: 0 !important;}
.f_elem1>*:first-child{margin-top: 0 !important;border: none !important;}

.bg_none{ background:none !important;}

/*----------------------> Displays <------------------*/

.d_block{ display:block;}
.d_ib{ display:inline-block;}
.d_none{ display:none;}
.d_tc{ display:table-cell;}
.d_t{ display:table;}


/*----------------------> Basic Colors <------------------*/
.white{color: #FFF;}
.brown {color: #684f40;}



.bg_yellow{background-color: #f6ae0e;}
/*======================> Header <======================*/

header {
    padding: 0px 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    border-bottom: 1px solid #684f40;
    background-color: #f5f5f5;
}
    .header_left {

    }

      .logo{
          
      }
        .logo a {
            display: block;
            width: 156px;
            height: 76px;
            background: url(../images/logo.png) 0 0 no-repeat;
            background-size: contain;
            text-decoration: none;
            text-indent: -9999px;
        }
    .header_right {
        padding: 10px 0;
    }
        .menu {
            padding: 12px 0;
            vertical-align: middle;
        }
            .menu>.menu_item {
                display: inline-block;
                vertical-align: middle;
                position: relative;
                margin-left: 20px;
            }
                .menu>.menu_item>.menu_link {
                    display: block;
                    position: relative;
                    font-size: 14px;
                    text-transform: uppercase;
                    font-weight: bold;
                    color: #fff;
                    border-bottom: 3px solid transparent;
                    -webkit-border-radius: 5px;
                            border-radius: 5px;
                    padding: 4px 7px;
                }
                .menu>.menu_item>.menu_link:hover{
                    background-color: #D95336;
                }

                .menu>.menu_item:first-child>.menu_link{   
                    color: #684f40;
                    border-bottom: 3px solid transparent;
                    -webkit-border-radius: 0;
                            border-radius: 0;
                    padding: 0;
                }
                .menu>.menu_item:first-child>.menu_link:hover{
                    border-color: #fdb822;
                    color: #fdb822;
                    border-bottom: 3px solid #fdb822;
                    background-color: transparent;
                }
                .menu_item:hover .dropdown-menu{
                    visibility: visible;
                    opacity: 1;
                    z-index: 999999;
                    -webkit-transition: all ease 0.3s;
                       -moz-transition: all ease 0.3s;
                        -ms-transition: all ease 0.3s;
                         -o-transition: all ease 0.3s;
                            transition: all ease 0.3s;
                }
                .dropdown-menu {
                    position: absolute;
                    /*visibility: hidden;
                    opacity: 0;*/
                    top: 100%;
                    left: -60px;
                    margin: 15px 0 0;
                    padding: 15px 20px;
                    border-radius: 5px;
                    z-index: -999999;
                    background-color: #684f40;
                    width: 180px;
                    -webkit-transition: all ease 0.3s;
                       -moz-transition: all ease 0.3s;
                        -ms-transition: all ease 0.3s;
                         -o-transition: all ease 0.3s;
                            transition: all ease 0.3s;
                }
                .dropdown-menu:before {
                    display: block;
                    position: absolute;
                    top: -10px;
                    left: 40%;
                    width: 0;
                    height: 0;
                    border-left: 13px solid transparent;
                    border-right: 13px solid transparent;
                    border-bottom: 20px solid #684f40;
                    content: "";
                }
                .dropdown-menu:after{
                    position: absolute;
                    top: -20px;
                    padding-top: 20px;
                    display: block;
                    content: "";
                    left: 0;
                    right: 0;
                    opacity: 0;
                }
                    .dropdown-menu .menu_link {
                        color: #fff !important;
                        display: block;
                        padding: 5px 0px;
                        border-bottom: 1px solid rgba(255,255,255,.5);
                    }
                .dropdown-menu .menu_link:hover {
                    color: #fdb822 !important;
                }
                body.show_bd .current .menu_link {
                    border-color: #f6ae0e;
                }
    .header_bottom {
        padding: 3px 0;
        font-size: 12px;
        letter-spacing: 2px;
        text-transform: uppercase;
        border-top: 1px solid #684f40;
        /*height: 22px;*/
    }
    header .lang-item {
        display: inline-block;
        margin-left: 10px;
    }   
    header .lang-item a {
        font-weight: bold;
        font-size: 12px;
        display: inline-block;
    }
    .current-lang a {
        border-bottom: 2px solid #684f40;
    }

/*=====================> Content ========================*/
body > #content {
        /*padding: 110px 0px 0;*/
}
#content .page {
        padding: 60px 0;
}
.vision_box {
    padding: 100px 0;
    border-bottom: 2px solid #684f40;
}
    #production .vision_item figcaption{
        padding: 0 50px;
        text-align: center;
    }
    .vision_item figcaption{
        text-align: center;
    }
.top_bord {
    border-top: 2px solid #684f40 !important;
}
.prod_link{
    text-align: center;
    width: 176px;
    font-size: 20px;
    line-height: 22px;
    padding: 6.5px 5px;
    color: #684f40;
    display: inline-block;
    background-color:  #dddddd;
}
.prod_link:hover{
    color: #FFF;
    background-color: #f6ae0e;
}
.award_item {
    max-width: 80%;
}
.award_description {
    padding: 0px 50px;
    text-align: left;
}
.partnership_list {
    font-size: 15px;
}
.partnership_list .fa {
    display: inline-block;
    width: 30px;
    font-size: 20px;
    line-height: 1;
}
.partnership_list_item_content {
    overflow: hidden;
    display: inline-block;
}
.partnership_list dd {
    margin-bottom: 8px;
}
.terms_touch{
    text-align: center;
    min-height: 220px;
    border: 2px solid #ddd;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    padding-top: 20px;
}
.terms_touch h4,
.terms_touch span,
.terms_touch a{
    font-family: "OpenSans", sans-serif;
    font-size: 16px;
    line-height: 24px;
}
.terms_touch h3{
    font-family: "OpenSans", sans-serif;
}
.terms_name{
    margin-bottom: 10px;
}
.terms_mail{
    display: inline-block;
    font-weight: 600;
}
.submit_ticket{
    font-size: 14px !important;
    padding: 5.5px 5px 5.5px 45px;
    background-color: #f5ad0d;
    -webkit-border-radius: 5px;
            border-radius: 5px;
    position: relative;
    width: 230px;
    color: #FFF;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    font-weight: bold;
    text-transform: uppercase;
}
.submit_ticket:hover,
.subm_btn_frm:hover{
    background-color: #D95336;
}
.submit_ticket:after{
    position: absolute;
    top: 0;
    left: 39px;
    height: 100%;
    width: 2px;
    content: "";
    background-color: #FFF;
}
.submit_ticket i{
    font-size: 26px;
    width: 29px;
    color: #FFF;
    height: 21px;
    line-height: 0.8;
    position: absolute;
    left: 5px;
    top: 50%;
    margin-top: -10.5px;
}
.where_deliver_box_it{
    text-align: center;
}
    .where_deliver_box_it img{ 
        /*max-width: 100%;
        height: auto;*/
        display: inline-block;
    }
    
/*popup start*/
.scheme_work_popup,
#gallery_popup{
    padding: 2px;
    background-color: #fff;
    width: 647px;
    margin: 0 auto;
    height: 488px;
    position: relative;
}
.scheme_work_popup{
    height: auto;
    padding: 25px 20px;
}
.arcticmodal-close {
    width: 20px;
    height: 20px;
    position: absolute;
    top: -25px;
    right: -25px;
    cursor: pointer;
    background: url(../images/close.png) 50% 50% no-repeat;
}
/*#gallery_popup */.owl-prev,
/*#gallery_popup */.owl-next{
    width: 50px !important;
    height: 50px !important;
    cursor: pointer;
    position: absolute;
    top: 50%;
    vertical-align: middle;
    text-align: center;
    margin-top: -27px;
    font: normal normal normal 14px/1 'FontAwesome';
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transform: translate(0, 0);
    color: #FFF;
    border-radius: 50%;
    border: 2px solid #fff;
}
/*#gallery_popup*/ .owl-prev{
    left: -74px;
}
/*#gallery_popup */.owl-prev:before{
    font-size: 20px;
    line-height: 50px;
    content: "\f060";
}
/*#gallery_popup */.owl-next{
    right: -74px;
}
/*#gallery_popup */.owl-next:before{
    font-size: 20px;
    line-height: 50px;
    content: "\f061";
}
/*#gallery_popup */.owl-prev:hover,
/*#gallery_popup */.owl-next:hover{
    color: #D1D1D0;
    border-color: #D1D1D0;
}
.shipping_rules_popup {
    background-color: #fff;
    width: 750px;
    margin: 0 auto;
    max-width: 100%;
    min-height: 500px;
    padding: 25px 20px;
}
.submit_ticket_popup{
    width: 468px;
    min-height: 416px;
    background-color: #FFF;
    position: relative;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    padding: 25px 50px 40px 50px;
}
.application_form_popup{
    
}
    .application_form_popup *{
        -webkit-box-sizing: border-box;
           -moz-box-sizing: border-box;
                box-sizing: border-box;
    }
    .applic_title{
        text-align: center;
        font-size: 20px;
        line-height: normal;
        font-weight: bold;
    }
    .worning_txt{
        color: #424242;
        text-align: center;
    }
    .star_sup{
        color: #D1332F;
    }
    .form_box{
        margin-bottom: 10px;
    }
        .form_lbl{
            padding-top: 6px;
            color: #414141;
            font-size: 14px;
        }
        .form_ipt{
            width: 302px;
            height: 33px;
            border: 1px solid #dfdddd;
            -moz-border-radius: 6px !important;
            -webkit-border-radius: 6px !important;
            border-radius: 6px !important;
            padding: 5px;
        }
        .form_txt{
            width: 302px;
            height: 133px;
            border: 1px solid #dfdddd;
            -moz-border-radius: 6px;
            -webkit-border-radius: 6px;
            border-radius: 6px;
            resize: none;
            padding: 5px;
        }
        .subm_btn_frm{
            text-transform: uppercase;
            color: #FFF;
            font-weight: bold;
            font-size: 14px;
            line-height: 16px;
            display: inline-block;
            padding: 9.5px 5px;
            background-color: #f5ad0d;
            width: 230px;
            -webkit-box-sizing: border-box;
               -moz-box-sizing: border-box;
                    box-sizing: border-box;
            -webkit-border-radius: 5px;
                    border-radius: 5px;
            margin-top: 15px;
        }

#sertificate_popup{
    height: 800px;
    text-align: center;
}
#sertificate_popup img{
    width: auto;
    height: auto;
    max-height: 100%;
    vertical-align: middle;
    display: inline-block;
}
#sertificate_popup * {
    height: 100%;
}
#sertificate_popup .arcticmodal-close{
    height: 20px;
}
#sertificate_popup .owl-prev {
    left: -95px;
}
#sertificate_popup .owl-next {
    right: -95px;
}
#sertificate_popup .slider_item{
    position: relative;
}
    #sertificate_popup .slider_item:before{
        content: "";
        display: inline-block;
        visibility: hidden;
        opacity: 0;
        height: 100%;
        vertical-align: middle;
        margin-left: -5px;
        width: 0;
    }
/*popup end  */

/*=====================> Catalog start ========================*/
.header_bottom_menu{
    width: calc(100% - 100px);
    text-align: center;
}
    .head_bottom_menu > .menu{
        float: none;
        padding: 0;
    }
        .head_bottom_menu > .menu > .menu_item{
            margin: 0 30px !important;
        }
            .head_bottom_menu > .menu > .menu_item > .menu_link{
                margin: 0 10px;
                font-family: 'Comfortaa', cursive;   
                color: #684f40 !important;
                font-size: 18px;
                text-transform: none !important;
                padding: 0 !important;
                -webkit-border-radius: 0 !important;
                        border-radius: 0 !important;
                background-color: transparent !important;
            }
            .head_bottom_menu > .menu > .menu_item > .menu_link:hover{
                color: #fdb822 !important;
                border-bottom: 3px solid transparent !important;
            }
                .head_bottom_menu > .menu > .menu_item > .dropdown-menu{
                    left: 50%;
                    margin: 15px 0 0 -110px;
                }

#flour{
    padding: 60px 0;
}
.flour_main_box{
    
}   
    #flour_packed{
        
    }
    .flour_packed{
      padding-top: 40px;  
    }
    .flour_packed *,
    .flour_weight *,
    .pasta_packed *{
        -webkit-box-sizing: border-box;
           -moz-box-sizing: border-box;
                box-sizing: border-box;
    }
        .flour_packed_box{
            max-width: 550px;
            background-color: #FFF;
            border-bottom: 1px solid #684F40;
            margin-bottom: 23px;
            padding: 18px 19px 15px 19px;
            position: relative;
        }
        .flour_packed_box:before{
            content: attr(data-marker);
            position: absolute;
            top: 0;
            right: 0;
            padding: 5px;
            color: #FFF;
            display: inline-block;
            background-color: #FFB923;
            max-width: 90px;
            overflow: hidden;
            text-align: center;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
        .flour_packed .row .col-lg-6:nth-child(1) .flour_packed_box{
            margin-left: 11px;
        }
            .flour_packed_img{
                width: 123px;
                margin-right: 20px;
            }
                .flour_packed_img img{
                    display: inline-block;
                }


            .flour_packed_info{
                
            }
                .flour_packed_info .title5{
                    margin-bottom: 10px;
                }
                .flour_packed_list{
                    
                }
                    .flour_packed_list_item{
                        
                    }
                        .flour_packed_list_item strong{
                            
                        }

    #flour_weight{

    }                           
    .flour_weight{
        padding-top: 57px;
    }        
        .flour_packed_box{
            padding: 18px 19px 15px 9px;
        }
        .flour_weight .row .col-lg-6:nth-child(1) .flour_packed_box{
            margin-left: 11px;
        }
            .flour_packed_img{
                width: 129px;
                margin-right: 24px;
            }
                .flour_packed_img img{
                    
                }


            .flour_packed_info{
                
            }
                .flour_packed_info .title5{
                    
                }
                .flour_packed_list{
                    
                }
                    .flour_packed_list_item{
                        
                    }
                        .flour_packed_list_item strong{
                            
                        }


#pasta{
    
}
.pasta{
    padding-top: 62px;
}
    #pasta_packed{
        
    }
    .pasta_packed{
        margin-bottom: 40px;
        padding-top: 40px; 
    }
        .pasta_packed_box{
            text-align: center;
        }
            .pasta_packed_img_box{
                position: relative;
                display: inline-block;
            }
            .pasta_packed_img_box:before,
            .pasta_packed_img_box:after{
                content: "";
                position: absolute;
                bottom: 0;
                width: 175px;
                height: 121px;
            }
            .pasta_packed_img_box:before{
                background: url(../images/pasta_pac_arr1.png) 0 0 no-repeat;
                left: -175px;
            }
            .pasta_packed_img_box:after{
                background: url(../images/pasta_pac_arr2.png) 0 0 no-repeat;
                right: -175px;
            }
                .pasta_packed_img_it{
                    text-align: center;
                }
                .pasta_packed_img_it:nth-child(2){
                    margin: 0 116px;
                }
                    .pasta_pic_box{
                        position: relative;
                        margin-bottom: 25px;
                        /*height: 252px;*/
                    }
                    .pasta_pic_box:before{
                        content: "";
                        height: 100%;
                        vertical-align: bottom;
                        display: inline-block;
                        width: 0;
                        margin-left: -4px;
                        visibility: hidden;
                    }
                        .pasta_pic_box img{
                            display: inline-block;
                            vertical-align: bottom;
                        }
                        .killo{
                            font-size: 20px;
                            line-height: 1.23;
                            font-family: 'Comfortaa', cursive;
                            color: #FFB923;
                        }


            .pasta_packed_box_item{
                max-width: 570px;
                min-height: 161px;
                border: 2px solid #FFB923;
                padding: 20px 48px 10px 48px;
                font-size: 20px;
                line-height: 30px;
                text-align: left;
                margin: auto;
            }
                .pasta_packed_box_item p{
                    margin-bottom: 0;
                }
                .pasta_packed_box_item p:last-child{
                    line-height: 39px;
                }

    #type_pasta{
        
    }
    .type_pasta{
        padding-top: 40px; 
    }
        #pasta_slider_big{

        }
        .pasta_slider_big{
            text-align: center;
        }
            .pasta_slider_big .product_item {
                width: auto;
                display: block;
                height: auto;
                max-height: 400px;
                margin: 0 20px 48px;
                position: relative;
            }
                .pasta_slider_big .product_item_img {
                    line-height: inherit;
                    height: 333px;
                    text-align: center;
                    overflow: hidden;
                }
                    .pasta_slider_big .product_item_img img {
                        max-width: 100%;
                        vertical-align: middle;
                        height: auto;
                        max-height: 100%;
                    }   
                .product_item_caption {
                    padding: 43px 0 0;
                    color: #f6ae0e;
                    -webkit-transition: all 0.7s ease;
                    -moz-transition: all 0.7s ease;
                    -o-transition: all 0.7s ease;
                    transition: all 0.7s ease;
                }
                .pasta_slider_big .flex-direction-nav a {
                    line-height: 50px;
                    position: absolute;
                    top: 50%;
                    height: 50px;
                    width: 50px;
                    margin-top: -25px;
                    text-align: center;
                    vertical-align: middle;
                    border-radius: 50px;
                    border: 2px solid #684f40;
                    color: #684F40;
                    display: inline-block;
                    font: normal normal normal 14px/1 'FontAwesome';
                    font-size: inherit;
                    text-rendering: auto;
                    -webkit-font-smoothing: antialiased;
                    -moz-osx-font-smoothing: grayscale;
                    transform: translate(0, 0);
                }
                .pasta_slider_big .flex-direction-nav .flex-prev{
                    left: 170px;
                }
                    .pasta_slider_big .flex-direction-nav .flex-prev:before {
                        content: "\f060";
                        font-size: 20px;
                        line-height: 50px;
                    }
                .pasta_slider_big .flex-direction-nav .flex-next {
                    right: 170px;
                }
                .pasta_slider_big .flex-direction-nav .flex-next:before {
                    content: "\f061";
                    font-size: 20px;
                    line-height: 50px;
                }
                .pasta_slider_big .flex-direction-nav a:hover {
                    color: #fdb822;
                    border-color: #fdb822;
                }
                .slides > li{
                    float: left;
                }



        #pasta_slider_mini{
            
        }
        .pasta_slider_mini{
            text-align: center;
        }   
            .pasta_slider_mini .product_item {
                opacity: .5;
            }
            .pasta_slider_mini .flex-active-slide .product_item, 
            .pasta_slider_mini .product_item:hover {
                opacity: 1;
                cursor: pointer;
            }
            .pasta_slider_mini .product_item {
                width: 300px;
                display: inline-block;
                position: relative;
                height: 260px;
                color: #684f40;
                margin: 0 0px 80px;
            }
            .pasta_slider_mini .product_item_img {
                text-align: center;
                overflow: hidden;
                line-height: 210px;
            }
                .pasta_slider_mini .product_item_img img {
                    max-width: 45%;
                    height: auto;
                    vertical-align: middle;
                }   
                    .pasta_slider_mini .product_item_caption {
                        padding: 13px 0 0;
                    }
                    .product_item_title {
                        text-align: center;
                        padding: 10px 0 20px;
                    }
                    .pasta_slider_mini.flex-direction-nav{
                        display: none;
                    }


#biscuit_box{
    
}
.biscuit_box{
    padding-top: 62px;
    overflow: hidden;
}

        #biscuit_packed{
            
        }
        .biscuit_packed{
            padding-top: 40px;
        }
            .biscuit_indent{
                margin: 0 -66.5px 8px;
            }
                .biscuit_figure{
                    width: 22%;
                    display: inline-block;
                    text-align: center;
                    margin: 0 66.5px 26px 66.5px;
                    cursor: pointer;
                    position: relative;
                }   
                    .biscuit_figcaption{
                        font-weight: normal;
                        font-family: 'Comfortaa', cursive;
                        letter-spacing: 1px;
                        font-size: 20px;
                        line-height: 1.23em;
                        color: #f6ae0e;
                    }
                    /*tooltip start*/
                    .tooltip_box{
                        text-align: left;
                        color: #FFF;
                        background-color: rgba(104,79,64,.85);
                        min-height: 170px;
                        width: 250px;
                        position: absolute;
                        visibility: hidden;
                        opacity: 0;
                        -webkit-box-sizing: border-box;
                           -moz-box-sizing: border-box;
                                box-sizing: border-box;
                        -webkit-border-radius: 8px;
                                border-radius: 8px;
                        font-size: 14px;
                        padding: 15px 17px 15px 17px;
                        top: 0;
                        left: 50%;
                        z-index: 0;
                        -webkit-transition: all ease-in 500ms;
                           -moz-transition: all ease-in 500ms;
                            -ms-transition: all ease-in 500ms;
                             -o-transition: all ease-in 500ms;
                                transition: all ease-in 500ms;
                    }
                    .active.tooltip_box{
                        z-index: 9;
                        visibility: visible;
                        opacity: 1;
                        -webkit-transition: all ease-in 500ms;
                           -moz-transition: all ease-in 500ms;
                            -ms-transition: all ease-in 500ms;
                             -o-transition: all ease-in 500ms;
                                transition: all ease-in 500ms;
                    }
                    .tooltip_box:before{
                        content: "";
                        position: absolute;
                        border: 9px solid transparent;
                        border-right: 11.5px solid rgba(104,79,64,.85);
                        left: -20px;
                        top: 21px;
                    }
                        .tooltip_box .close{
                            display: inline-block;
                            position: absolute;
                            width: 24px;
                            height: 20px;
                            color: #FDB822;
                            right: -24px;
                            top: -20px;
                            font-size: 40px;
                            font-weight: 100;
                            line-height: 0.5;
                            cursor: pointer;
                        }
                        .tooltip_box p{
                            margin-bottom: 5px;
                        }
                    /*tooltip end*/


        #biscuit_protracted{
            
        }
        .biscuit_protracted{
            padding-top: 40px;
        }


        #biscuit_cracker{
            
        }
        .biscuit_cracker{
            padding-top: 40px;
        }


        #biscuit_sugar{
            
        }
        .biscuit_sugar{
            padding-top: 40px;
        }

#export{
    
}
.export_box{
    /* border-top: 2px solid #684f40; */
    padding: 0 0 60px 0;
}
    .export_item {
        border: 2px solid #684f40;
    }
    .export_item .title3 {
        text-align: center;
        color: #fff;
        font-size: 24px;
        line-height: 29px;
        font-weight: 400;
        background-color: #f6ae0e;
    }
    .export_item .title3, 
    .export_item .list1 {
        border-bottom: 2px solid #684f40;
    }
    .export_item_inner {
        padding: 12px 20px;
    }
        .export_item_inner_link{
            -webkit-border-radius: 5px;
                    border-radius: 5px;
            text-align: center;
            display: block;
            background-color: #f6ae0e;
            color: #FFF;
            padding: 4px 10px 6px;
            font-family: 'Open Sans', sans-serif;
            white-space: nowrap;
            font-size: 14px;
            cursor: pointer;
        }
            .export_item_inner_link:hover{
                color: inherit;
            }
            .export_item_inner_link .fa {
                margin-left: 10px;
                font-size: 16px;
            }
        .list1_item {
            padding-left: 20px;
            margin-bottom: 5px;
            position: relative;
        }

/*=====================> Catalog end   ========================*/

/*=====================> Paragraphs ========================*/

p {margin-bottom:18px}
.mb1{ margin-bottom:1px;}
.mb2{ margin-bottom:2px;}
.mb3{ margin-bottom:3px;}
.mb4{ margin-bottom:4px;}
.mb5{ margin-bottom:5px;}
.mb6{ margin-bottom:6px;}
.mb7{ margin-bottom:7px;}
.mb8{ margin-bottom:8px;}
.mb9{ margin-bottom:9px;}
.mb10{ margin-bottom:10px;}
.mb11{ margin-bottom:11px;}
.mb12{ margin-bottom:12px;}
.mb13{ margin-bottom:13px;}
.mb14{ margin-bottom:14px;}
.mb15{ margin-bottom:15px;}
.mb16{ margin-bottom:16px;}
.mb17{ margin-bottom:17px;}
.mb18{ margin-bottom:18px;}
.mb19{ margin-bottom:19px;}
.mb20{ margin-bottom:20px;}
.mb21{ margin-bottom:21px;}
.mb22{ margin-bottom:22px;}
.mb23{ margin-bottom:23px;}
.mb24{ margin-bottom:24px;}
.mb25{ margin-bottom:25px;}
.mb26{ margin-bottom:26px;}
.mb27{ margin-bottom:27px;}
.mb28{ margin-bottom:28px;}
.mb29{ margin-bottom:29px;}
.mb30{ margin-bottom:30px;}
.mb31{ margin-bottom:31px;}
.mb32{ margin-bottom:32px;}
.mb33{ margin-bottom:33px;}
.mb34{ margin-bottom:34px;}
.mb35{ margin-bottom:35px;}
.mb36{ margin-bottom:36px;}
.mb37{ margin-bottom:37px;}
.mb38{ margin-bottom:38px;}
.mb39{ margin-bottom:39px;}
.mb40{ margin-bottom:40px;}
.mb41{ margin-bottom:41px;}
.mb42{ margin-bottom:42px;}
.mb43{ margin-bottom:43px;}
.mb44{ margin-bottom:44px;}
.mb45{ margin-bottom:45px;}
.mb46{ margin-bottom:46px;}
.mb47{ margin-bottom:47px;}
.mb48{ margin-bottom:48px;}
.mb49{ margin-bottom:49px;}
.mb50{ margin-bottom:50px;}
.mb51{ margin-bottom:51px;}
.mb52{ margin-bottom:52px;}
.mb53{ margin-bottom:53px;}
.mb54{ margin-bottom:54px;}
.mb55{ margin-bottom:55px;}
.mb58{ margin-bottom:58px;}
.mb60{ margin-bottom:60px;}
.mb62{ margin-bottom:62px;}
.mb75{ margin-bottom: 75px;}

.mt30{margin-top: 30px;}

/*=====================> Titles ========================*/
h1, h2, h3, h4, h5 {
    font-weight: normal !important;
    font-family: 'Comfortaa', cursive;
    letter-spacing: 1px;
}
.title1 {
    font-size: 28px;
    line-height: 1.23em;
    font-weight: 400;
}
.title1 span {
    display: inline-block;
    padding-bottom: 8px;
    position: relative;
    text-transform: uppercase;
    letter-spacing: 14px;
    border-bottom: 2px solid #dddddd;
}
    .title1 span:before {
        position: absolute;
        display: block;
        left: 40px;
        right: 40px;
        bottom: -2px;
        height: 2px;
        background-color: #ffb923;
        content: "";
    }
.title2 {
    font-size: 20px;
    line-height: 1.23em;
    font-weight: 400;
}
.title3 {
    font-size: 24px;
    line-height: 29px;
    font-weight: 400;
}
.title4 {
    font-size: 24px;
    line-height: 1.23em;
    font-weight: 400;
    text-align: center;
}
.title4 span {
    display: inline-block;
    padding-bottom: 8px;
    position: relative;
    text-transform: uppercase;
    letter-spacing: 14px;
    border-bottom: 2px solid #dddddd;
}
.title5 {
    font-size: 16px;
    line-height: 1.23em;
    font-weight: 400;
}

.font_16 {
    font-size: 16px;
    line-height: 24px;
}

.td_und{text-decoration: underline;}
.td_und:hover{text-decoration: none;}

.td_und_no{text-decoration: none;}
.td_und_no:hover{text-decoration: underline;}

.td_und_no_imp{text-decoration: none !important;}

.text_upp{text-transform: uppercase;}
/*================================>> GOOGLE FONTS  <<========================================*/
.comforta{ 
  font-family: 'Comfortaa', cursive;
  font-weight: normal;
}
.roboto_thin{
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
}
.roboto_light{
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}
.roboto_normal{
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}
.roboto_medium{
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
}
.roboto_bold{
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
}
.roboto_ultra_b{
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
}


/*================================>> hovers <<========================================*/
a{
    -webkit-transition: all 0.7s ease;
    -moz-transition: all 0.7s ease;
    -o-transition: all 0.7s ease;
    transition: all 0.7s ease;
}
a:hover{
    -webkit-transition: all 0.1s ease;
    -moz-transition: all 0.1s ease;
    -o-transition: all 0.1s ease;
    transition: all 0.1s ease;
}


/*map*/
.map_wrap {
    height: 400px;
    border-top: 2px solid #684f40;
}
    #map-canvas {
        width: 100%;
        height: 100%;
        position: absolute;
    }
/*================================>> Contact Form <<========================================*/
#contact-form {
  padding:0px 0 0 0;
  position: relative;
}
#contact-form .success
{
  display: block;
  position: absolute;
  width: 100%;
  top: 0;
  left:0;
  z-index: 99;
  background: #fff;
  border: 1px solid #000;
  text-align: center;
  padding: 20px 0;
}
.txt_field{
  margin:0;
  font-size:12px;
  border:1px solid #e7e7e7;
  color:#969696;
  padding:7px 10px;
  outline:none;
  position:relative;
  font-family:Arial, Helvetica, sans-serif;
  background:#fff;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.msg_field{
  overflow:auto;
  width:433px;
  height:172px;
  resize:none;
  float:left;
  margin: 0 0 0 0;
}

#contact-form .error, #contact-form .empty, #contact-form .success {display:none;}
#contact-form .error, #contact-form .empty {
  text-align:left;
  color:red;
  font-size:11px;
  position: absolute;
  right: 10px;
  top: 5px;
}
#contact-form .buttons2 {
  overflow:hidden;
  text-align:right;
  position:relative;
  clear:both;
  padding-top:25px;
}
#contact-form .buttons2 a {
	cursor:pointer;
	margin-top:0;
	text-align:center;
}
#contact-form span{
  display:block;
  margin: 0px 0 0 5px;
 }

.map_wrapper{
  overflow:hidden;
  display:inline-block;
  margin-bottom:26px;
}


/*================================>> Contacts Info <<========================================*/
#map_canvas {
   width:411px;
   height:237px;
}
.adress{}
.adress span{
  display:inline-block;
}
.adress dt{ margin-bottom:14px;}

/*================================>> Footer <<========================================*/
footer {
  padding:22px 0 26px;
}
.social{
  overflow:hidden;
}
.social a{
  display:block;
  float:left;
  width:32px;
  height:32px;
  overflow:hidden;
  margin-left:8px;
}
.social a:first-child{margin: 0 0 0 0;}
.social a:hover img{
  margin-top:-32px;
}

/*============================= Easy responsive tabs ============================*/


.resp-tabs-list li {
    
}


h2.resp-accordion {
    display: none;
}

.resp-tab-content {
    display: none;
}

.resp-content-active, .resp-accordion-active {
    display: block;
}

.resp-easy-accordion  h2.resp-accordion {
        display: block;
}

.resp-tab-content-active {
    display: block;
}


@media only screen and (max-width: 768px) {
    ul.resp-tabs-list {
        display: none;
    }

    h2.resp-accordion {
        display: block;
    }

    
    .resp-accordion-closed {
        display:none !important;
    }
    
}


/*============================ Arctic modal =============================*/
.arcticmodal-overlay,
.arcticmodal-container { position: fixed; left: 0; top: 0; right: 0; bottom: 0; z-index: 1000; }
.arcticmodal-container { overflow: auto; margin: 0; padding: 0; border: 0; border-collapse: collapse; }
*:first-child+html .arcticmodal-container { height: 100% }
.arcticmodal-container_i { height: 100%; margin: 0 auto; }
.arcticmodal-container_i2 { padding: 24px; margin: 0; border: 0; vertical-align: middle; }
.arcticmodal-error { padding: 20px; border-radius: 10px; background: #000; color: #fff; }
.arcticmodal-loading { width: 80px; height: 80px; border-radius: 10px; background: #000 url(loading.gif) no-repeat 50% 50%; }


/* ========================== OWL CAROUSEL =============================*/
/* 
 *  Core Owl Carousel CSS File
 *  v2
 */

/* 
 *  Owl Carousel - Animate Plugin
 */
.owl-carousel .animated {
  -webkit-animation-duration: 1000ms;
  animation-duration: 1000ms;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.owl-carousel .owl-animated-in {
  z-index: 0;
}
.owl-carousel .owl-animated-out {
  z-index: 1;
}
.owl-carousel .fadeOut {
  -webkit-animation-name: fadeOut;
  animation-name: fadeOut;
}

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

/* 
 *  Owl Carousel - Auto Height Plugin
 */
.owl-height {
  -webkit-transition: height 500ms ease-in-out;
  -moz-transition: height 500ms ease-in-out;
  -ms-transition: height 500ms ease-in-out;
  -o-transition: height 500ms ease-in-out;
  transition: height 500ms ease-in-out;
}

/* 
 *  Core Owl Carousel CSS File
 */
.owl-carousel {
  display: none;
  width: 100%;
  -webkit-tap-highlight-color: transparent;
  /* position relative and z-index fix webkit rendering fonts issue */
  position: relative;
  z-index: 1;
  /*max-height: 164px;*/
}
.owl-carousel .owl-stage {
  position: relative;
  -ms-touch-action: pan-Y;
}
.owl-carousel .owl-stage:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
.owl-carousel .owl-stage-outer {
  position: relative;
  overflow: hidden;
  /* fix for flashing background */
  -webkit-transform: translate3d(0px, 0px, 0px);
}
.owl-carousel .owl-controls .owl-nav .owl-prev,
.owl-carousel .owl-controls .owl-nav .owl-next,
.owl-carousel .owl-controls .owl-dot {
  cursor: pointer;
  cursor: hand;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.owl-carousel.owl-loaded {
  display: block;
}
.owl-carousel.owl-loading {
  opacity: 0;
  display: block;
}
.owl-carousel.owl-hidden {
  opacity: 0;
}
.owl-carousel .owl-refresh .owl-item {
  display: none;
}
.owl-carousel .owl-item {
  position: relative;
  min-height: 1px;
  float: left;
  -webkit-backface-visibility: hidden;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.owl-carousel .owl-item img {
  display: inline-block;
  /*text-align: center;*/
  width: 100%;
  -webkit-transform-style: preserve-3d;
}
.owl-carousel.owl-text-select-on .owl-item {
  -webkit-user-select: auto;
  -moz-user-select: auto;
  -ms-user-select: auto;
  user-select: auto;
}
.owl-carousel .owl-grab {
  cursor: move;
  cursor: -webkit-grab;
  cursor: -o-grab;
  cursor: -ms-grab;
  cursor: grab;
}
.owl-carousel.owl-rtl {
  direction: rtl;
}
.owl-carousel.owl-rtl .owl-item {
  float: right;
}

/* No Js */
.no-js .owl-carousel {
  display: block;
}

/* 
 *  Owl Carousel - Lazy Load Plugin
 */
.owl-carousel .owl-item .owl-lazy {
  opacity: 0;
  -webkit-transition: opacity 400ms ease;
  -moz-transition: opacity 400ms ease;
  -ms-transition: opacity 400ms ease;
  -o-transition: opacity 400ms ease;
  transition: opacity 400ms ease;
}
.owl-carousel .owl-item img {
  transform-style: preserve-3d;
}
/* ========================== RoyalSlider =============================*/

.rsContent_inner {
        vertical-align: middle;
        display: table-cell;
        padding: 50px 0;
}
.rsDefault .rsBullet, .rsDefault .rsBullet span {
        width: 12px;
        height: 12px;
        cursor: pointer;
}
#client_slideshow {
    background-size: cover !important;
    overflow: hidden;
}
#client_slideshow:before {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: .55;
    content: "";
}
#client_slideshow .rsContent {
    display: table;
}